# The Combinations-Game
actually only combinations, no game.. but it sounds cooler ;-)

In [1]:
import pandas as pd
import numpy as np

import itertools

So, we have an pd.DataFrame with the columns "a", "b", "c". <br>
And we wan't to calculate the row-sums for each possible combination of columns. <br>
Let's create an df first:

In [2]:
# our dataframe
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})

#show
display(df)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

Next step is to build the combinations for each "n" of all these 3 columns:

In [3]:
# for combinations with only one element:
combi = itertools.combinations(df.columns, 1)

# what do we get?
print("what do we get?", combi)

# lets put it into an list
print("in a list:", list(combi))

what do we get? <itertools.combinations object at 0x7f7b3b5004f0>
in a list: [('a',), ('b',), ('c',)]

We get tuples, however, we want our combination to be a list. The solution: apply a list comprehension:

In [4]:
[list(element) for element in itertools.combinations(df.columns,1)]

[['a'], ['b'], ['c']]

...And a nested list comprehension to get all combinations for "n":

In [5]:
allCombinations = [list(element) for i in range(df.shape[1]) for element in itertools.combinations(df.columns, i+1)]

# show the result
print(allCombinations)

[['a'], ['b'], ['c'], ['a', 'b'], ['a', 'c'], ['b', 'c'], ['a', 'b', 'c']]

Half of the work is done.
Only the row sums (or other mathematical manipulation) is missing for each combination:

In [6]:
# empty dictionary to save the results
rowSums = {}

for i, combination in enumerate(allCombinations):
    # retrieve the data
    selection = df[combination]
    
    # print the selection on each equal rounds (to check if the selection is correct)
    if i%2 == 0:
        display(selection)
    
    # calculate the row sum (or the math you want to do)
    sums = selection.sum(axis=1)
    
    # update results dict
    # note: keys have to be hashable.
    rowSums.update({tuple(combination):sums})

   a
0  1
1  2
2  3

   c
0  7
1  8
2  9

   a  c
0  1  7
1  2  8
2  3  9

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [7]:
# make the received dictionary pretty!
results = pd.DataFrame(rowSums).T
results.columns = ["participant"+str(i+1) for i in range(results.shape[1])]
results

           participant1  participant2  participant3
a NaN NaN             1             2             3
b NaN NaN             4             5             6
c NaN NaN             7             8             9
a b   NaN             5             7             9
  c   NaN             8            10            12
b c   NaN            11            13            15
a b   c              12            15            18

.. And we have the row sums for each combination for each participant.